<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6_计算属性和watch监视的使用及区别</title>
</head>

<body>
    <div id="app">
        姓：<input type="text" v-model="firstName">
        名：<input type="text" v-model="lastName"><br />

        <!-- 在页面上显示全名 -->
        <!-- 方法1. 使用js拼写 ，其实数据在模板中，this全部指向vm，只不过模板当中的this可以省略，完整写法:this.firstName -->
        <p>方法1：{{firstName + '-' + lastName}}</p>

        <!-- 方法2：封装函数去写 -->
        <p>方法2：{{getFullName()}}</p>
        <p>方法2：{{getFullName()}}</p>
        <p>方法2：{{getFullName()}}</p>

        <!-- 方法3. 计算属性（重要） -->
        <p>计算属性：{{fullName}}</p>
        <p>计算属性：{{fullName}}</p>
        <p>计算属性：{{fullName}}</p>

        <!-- 方法4：watch监视（重要）-->
        <p>监听：{{fullName2}}</p>

        <!-- 使用computed异步返回数据，不可行 -->
        <p>{{fullName3}}</p>

        <!-- 使用watch异步返回数据，可行 -->
        <p>{{dataAsync}}</p>

        <!-- computed中的set方法 -->
        <input type="text" v-model="fullName">
    </div>
    <script type="text/javascript" src="./js/vue2.js"></script>
    <script type="text/javascript">
        const vm = new Vue({
            el: '#app',
            data() {
                return {
                    firstName: 'Zhang',
                    lastName: 'san',
                    fullName2: '',  //监视的时候必须有这个属性，属性值是什么不确定，后面根据监视去给它赋值
                    dataAsync: ''
                }
            },
            methods: {
                getFullName() {
                    console.log('getFullName方法被调用了');
                    //在Vue中，所有的函数内部的this都指向vm，因为这些方法或者函数都会被vm代理
                    return this.firstName + '-' + this.lastName
                }
            },

            //当需要一个数据，但是数据没有，并且这个数据是由当前所拥有的数据计算而来，那就要用计算属性
            computed: {
                //计算属性的完整写法
                fullName: {
                    get() {
                        return this.firstName + '-' + this.lastName
                    },
                    //监视fullName，
                    set(val) {
                        let arr = val.split('-')
                        this.firstName = arr[0]
                        arr.length > 1 ? this.lastName = arr[1]: this.lastName = ''
                        

                    }
                },

                //如果计算属性当中只有get方法，那么可以简写为如下形式
                /* fullName(){
                    console.log('computed被调用了');
                    return this.firstName + '-' + this.lastName
                }, */


                fullName3() {
                    let a = null;
                    //computed里面只能是同步返回数据，不能异步返回数据，不会报错，但是不生效
                    setTimeout(() => {
                        a = 'heihei'
                    }, 1000);
                    return a
                }
            },

            //监视的数据一定是存在的，而且是可以变化的
            //写法1
            watch: {
                firstName: {
                    //这个对象是一个配置对象
                    //当firstName发生改变，就会自动会掉handler， handler不能写错！
                    handler(newVal, oldVal) {
                        this.fullName2 = newVal + '-' + this.lastName

                        setTimeout(() => {
                            //异步修改数据
                            this.dataAsync = '我是watch里的异步'
                        }, 3000);
                    },
                    immediate: true,  //配置这个配置项的作用是，无论监视到属性发不发生变化时，都要强制进行一次回调
                }

            }




            /* 
                区别：

                使用方法去获取姓名 和 使用计算属性去计算姓名的区别（重要）
                    - 使用方法获取
                        - 使用了几次方法调用，那么这个方法就被调用了几次
                    - 使用计算属性
                        - 使用了不管多少次计算属性，计算属性的get方法只调用了一次
                        - 计算属性一定存在缓存，这样有缓存使用多次的时候效率比使用方法高很多

                computed 和 watch监听的区别
                    - computed
                        - 计算属性，一般是没有这个值，但是想要用这个值，那么根据已有的去做计算
                        - 只能使用同步！
                    - watch
                        - 监视属性，一般监视的属性以及要更改的属性都必须存在
                        - 可以是同步，也可以是异步！
                    - 通常能用 computed 的场合都可以使用 watch 去解决，但是能用 watch 解决的不一定能用 computed
                    
            
            */


        })

        vm.$watch('lastName', function (newVal, oldVal) {
            this.fullName2 = this.firstName + '-' + newVal
        })
    </script>
</body>

</html>